# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# vim-go installed tools
src/code.google.com/p/rog-go/
src/golang.org/x/tools/
src/code.google.com/p/goplan9/
src/code.google.com/p/go.tools/
src/github.com/golang/lint
src/github.com/jstemmer/gotags
src/github.com/kisielk/errcheck
src/github.com/kisielk/gotool
src/github.com/kr/fs
src/github.com/nsf/gocode
src/github.com/tools/godep

# Don't stage any binaries
bin/*
